<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>APRS Navigator</title>
    </head>
    <body>
        <div id="app">
            <h1>APRS Navigator</h1>
            <div id="input-view">

            <div>
                <div>
                <input type="text" placeholder="My Callsign" v-model="myCallsign">
                <input type="number" placeholder="My SSID" v-model="mySSID">
                </div>
                <div>
                <input type="number" placeholder="My Lat" v-model="myLat">
                <input type="number" placeholder="My Long" v-model="myLong">
                </div>
                <div>
                <input class="fullwidth" type="text" placeholder="Comment" v-model="myComment">
                </div>
                <div class="flexcenter">
                    <button id="posButton" class="fullwidth" v-on:click="sendPositionPacketToServer">Send Position</button>
                    <button id="messageButton" class="fullwidth" v-on:click="sendMessagePacketToServer">Send Message</button>
                </div>
            </div>
            
            </div>
            <div id="data-view">
                <h2>Recieved APRS Packet Data</h2>
                
                <div v-for="packet, i in packets" class="padli">
                    <div class="divli"><label>Callsign:</label>{{packet.Original_AX25.Src.Callsign}}-{{packet.Original_AX25.Src.Ssid}}</div>
                    <div class="divli" v-if="packet.Latitude!=0"><label >Lat:</label>{{packet.Latitude}}</div>
                    <div class="divli" v-if="packet.Longitude!=0"><label>Long:</label>{{packet.Longitude}}</div>
                    <div class="divli" v-if="packet.Altitude!=0"><label>Altitude:</label>{{packet.Altitude}}ft</div>
                    <div class="divli" v-if="packet.Heading!=0"><label>Heading:</label>{{packet.Heading}}&deg;</div>
                    <div class="divli" v-if="packet.Speed!=0"><label>Speed:</label>{{packet.Speed}}kts</div>
                    <div class="divli" v-if="packet.Comment!=0"><label>Comment:</label>{{packet.Comment}}</div>
                    <div class="divli" ><label>Raw:</label>{{packet.Raw}}</div>


                    
                </li>
                    
                
            </div>
        </div>  
        <script src="https://unpkg.com/vue@3"></script>
		<script src="app.js"></script>
    </body>
</html>