body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c0eafa;
}

#app {
    max-width: 90%;
    background-color: #FFFFFF;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#input-view {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    background-color: #4545ff;
    color: #FFFFFF;
    padding: 1rem;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style: none;
    margin: auto;

}

.padli {
    padding: 0.5rem;
    margin: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
}

.padli:nth-child(odd) {
    background-color: #e6e6e6;
}

.divli {
    line-height: 150%;
}

input {
    padding: 0.5rem;
}

.flexcenter {
    display: flex;
    justify-content: center;
}

.fullwidth {
    width: 99%;
    padding-left: 0;
    padding-right: 0;
}

button {
    margin-top: 0.5rem;
    padding: 1rem;
}